.weather {
    width: 50%;
    background-color: #ffb236;
}

.forecast {
    margin: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;

    span {
        padding-right: 1rem;
    }
}

.forecast span:nth-last-of-type(-n+2) {
    color: #ffd89a;
}

.base-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem;
}

.left-info {
    display: flex;
    flex-direction: column;
    
    #weather-icon {
        font-size: 10rem;
        color: white;
    }

    .description {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    .city {
        font-size: 1.2rem;
        font-weight: bold;
        color: #ffd89a;
    }
}

.right-info {
    font-size: 8rem;
    color: white;
}