.toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ec5e30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.toolbar nav {
    height: 100%;
}

.logo-wrapper {
    height: 80%;
    margin: 0 auto;
}

.widgets {
    color: white;
    margin-left: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
}

#add-icon {
    display: none;
}

@media (max-width: 499px) {
    .desktop-only {
        display: none;
    }
}