    .navigation-item {
        margin: 0;
        display: flex;
        box-sizing: border-box;
        width: auto;
        height: 100%;
        align-items: center;
    }
    
    .navigation-item a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    }
    
    .navigation-item a:hover,
    .navigation-item a:active,
    .navigation-item a.active {
        border-bottom: 4px solid white;
        color: white;
    }