.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
}

.card-left {
    display: flex;
    flex-direction: column;

    .title {
        font-weight: bold;
    }
}

.percentage {
    font-size: 1.5rem;
    font-weight: bold;
}

.percentage.green {
    color: #32CD32;
}

.percentage.red {
    color: #FF0000;
}
