.side-drawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.logo-wrapper-side {
    height: 11%;
    margin-bottom: 32px;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.sidebar-wrapper {
    .navigation-items {
        flex-flow: column;
    }

    .navigation-item {
        margin: 10px 0;
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    
    .navigation-item a {
        color: #ec5e30;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    
    .navigation-item a:hover,
    .navigation-item a:active,
    .navigation-item a.active {
        background-color: #F5F5F5;
        border-bottom: 4px solid #ec5e30;
    }
}