.container {
    margin-top: -1rem;
}

.first-half {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.second-half {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.data-stack {
    width: 30%;
}

.area-chart-container {
    width: 70%;
}

.card:nth-child(2) {
    background-color: #F5F5F5;
}


@media (max-width: 800px) {
    .news{
        display: none;
    }

    .weather {
        width: 100%;
    }

    .second-half {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .data-stack {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }

    .card {
        width: 25%;
        flex-flow: column wrap;
        flex-direction: column;
        height: 10rem;
    }
}

@media (max-width: 411px) {
    .card {
        width: 50%;
    }

    .data-stack {
        flex-flow: row wrap;
    }

    .area-chart-container {
        display: none;
    }

    .widgets {
        display: none;
    }

    #add-icon {
        display: inline-block;
        color: white;
    }
}