.news {
    width: 50%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    h1, .footer-text-box {
        position: absolute;
        bottom: 0;
    }

    h1 {
        margin: 7rem 1rem;
        color: white;
    }

    .footer-text-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 3rem;
        justify-content: space-between;
        color: white;
    }

    .left-side {
        margin-left: 2rem;
        display: flex;

        .item {
            display: flex;
            padding-right: 1rem;
            align-items: center;
        }

        #icon {
            padding-right: 0.5rem;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        justify-content: flex-end;

        .bottom-line {
            border-bottom: 2px solid white;
        }
    }
}